
/* Container */
.container {
    width: 90%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    
  }
  
  
  .first {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  
  
  .second {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 32px;
  }
  
  
  #nav-1 {
    color: rgb(10, 192, 224);
  }
  #nav-2 {
    color: burlywood;
  }
  #nav-3 {
    color: rgb(237, 100, 164);
  }
  #nav-4 {
    color: rgb(58, 156, 156);
  }
  
  
  .third {
    margin-left: auto;
    border-radius: 10px;
    padding: 10px 60px;
    background-color: orange;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
  }
  
  
  .hamburger {
    display: none;
  }
  
  .first-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
  }
  
  
  .banner-heading {
    font-size: 50px;
  }
  
  
  #color-a {
    color: coral;
  }
  #color-b {
    color: rgb(86, 128, 207);
  }
  
  
  .paragraph {
    font-size: 24px;
  }
  .enroll-btn {
    width: 100px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
    margin-right: auto;
    border-radius: 10px;
  }
  
  
  #standerd {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 48px;
  }
  
  
  .second-section {
    margin-top: 60px;
    margin: 80px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    background-image: url(../bg.png);
  }
  
  
  .kinder {
    border-radius: 16px;
    background-image: linear-gradient(
      rgb(219, 219, 253),
      white,
      rgb(155, 127, 155)
    );
    align-self: center;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 300px;
  }
  
  
  .elementary {
    border-radius: 16px;
    background-image: linear-gradient(rgb(160, 154, 154), rgb(130, 205, 235));
    align-self: center;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 300px;
  }
  
  
  .middle {
    border-radius: 16px;
    background-image: linear-gradient(rgb(109, 109, 240), lightpink);
    align-self: center;
    padding: 20px;
    text-align: center;
    height: 400px;
    width: 300px;
  }
  
  
  #read1-btn {
    color: rgb(26, 98, 192);
  }
  #read2-btn {
    color: rgb(43, 92, 80);
  }
  #read3-btn {
    color: rgb(221, 68, 127);
  }
  
  
  .arrow {
    text-align: center;
    margin-bottom: 120px;
  }
  
  
  #arrow-1 {
    border-radius: 50%;
    font-weight: 900;
    background-color: orange;
    color: white;
    border: none;
    padding: 20px 30px;
  }
  #arrow-2 {
    border-radius: 50%;
    font-weight: 900;
    background-color: orange;
    color: white;
    border: none;
    padding: 20px 30px;
  }
  
  
  #story-line {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  
  
  .stories {
    justify-content: center;
    align-items: center;
    gap: 19px;
    background-image: linear-gradient(
        rgba(184, 129, 48, 0),
        rgba(255, 166, 0, 0.336)
      ),
      url("../bg.png");
    width: 100%;
    height: 100%;
    background-position: center;
    padding-bottom: 80px;
    margin: 80;
  }
  
  .story-card{
    display: flex;
    gap: 19px;
  }
  
  #fs-p {
    border-radius: 16px;
  }
  
  
  .first-story {
    border-radius: 16px;
    background-color: rgb(219, 196, 189);
    align-self: center;
    text-align: center;
    width: 540.27px;
    height: 630.52px;
  }
  
  
  .story-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
    width: 601px;
    height: 622.4px;
  }
  
  
  .card-1 {
    width: 290.69px;
    height: 301.61px;
    background-color: rgb(219, 196, 189);
    border-radius: 16px;
    align-self: center;
    text-align: center;
  }
  
  
  .card-2 {
    width: 290.69px;
    height: 301.61px;
    background-color: rgb(219, 196, 189);
    border-radius: 16px;
    align-self: center;
    text-align: center;
  }
  
  
  .card-3 {
    width: 290.69px;
    height: 301.61px;
    background-color: rgb(219, 196, 189);
    border-radius: 16px;
    align-self: center;
    text-align: center;
  }
  
  
  .card-4 {
    width: 290.69px;
    height: 301.61px;
    background-color: rgb(219, 196, 189);
    border-radius: 16px;
    align-self: center;
    text-align: center;
  }
  
  
  .image {
    width: 291px;
    height: 177px;
    border-radius: 16px;
  }
  
  
  .view-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 5rem auto 4.1rem;
    background-color: black;
    color: white;
    width: 197px;
    height: 30px;
    font-size: 20px;
    border-radius: 16px;
  }
  
  
  .color-primary {
    color: white;
  }
  
  
  .footer {
    background-color: rgb(190, 122, 58);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    font-size: 20px;
    gap: 40px;
  }
     


  @media screen and (max-width: 620px) {
    .second,
    .third {
      display: none;
    }
  
  
    .navbar {
      justify-content: space-between;
      border-bottom: 2px solid rgb(175, 161, 32);
    }
  
  
    .hamburger {
      display: block;
    }
  
  
    #title {
      display: none;
    }
  
  /* nav end */

  .first-section {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    max-width: 100%}
   
  .enroll-btn {
    text-align: center;
    margin: 0 auto;}

    /* banner section end */

  .second-section{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;} 
    
    /* second section end */

  .first-story {
    display: none;} 

  .story-collage {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;}
   
  .view-btn {
    margin: 80px auto 60px;} 
    
  /* story section end   */

.footer {
  display: grid;}

  




























  }


















   /* @media screen and (max-width: 576px) {
    .first-section {
      margin: 0 auto;
      max-width: 100%;
      flex-direction: column-reverse;}
    
     }
  
  
    .banner-heading {
      margin: 0 auto;
      max-width: 100%;
      text-align: center;
      font-size: 3rem;
      gap: 5px;
    }
  
  
    .paragraph {
      text-align: center;
      max-width: 100%;
      margin: 18px auto;
      font-size: 1.5rem;
    }
  
  
    .enroll-btn {
      text-align: center;
      margin: 18px auto;
      font-size: 1.2rem;
      max-width: 100%;
    }
  
  
    .first-image {
      max-width: 100%;
      height: auto;
    }
    /* first section end    */
  
  
    /* #standerd {
      margin: 30px auto 20px;
      font-size: 2.5rem;
      max-width: 100%;
    }
  
  
    .second-section {
      flex-direction: column;
      margin: 0 auto;
      font-size: 1rem;
      max-width: 100%;
    } */ */

  